*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family: 'Poppins', sans-serif;
}
/* body{
    background: rgb(30,30,30);
    display: flex; 
    /* flex-direction: row;
    color: #fff;
    overflow: hidden;
    overflow-x: scroll;
} */
 body{
    background: rgb(30,30,30);
    color: white;
    overflow-x: scroll;
 }